body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.welcome-text {
  text-align: center;
  margin: 20px;
  font-size: large;
}

.boat-image {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
  color: #007bff;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #007bff;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}

.articles-intro {
  text-align: justify;
  margin: 20px;
  font-size: 1.2em;
  color: #555;
}

article {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-content: center;
}

article p {
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

article img {
  display: block;
  margin: 0 auto 15px auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.gal-item {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.gal-item img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gal-item p {
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.boat-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.boat-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.boat-list li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.boat-list li:hover {
  background-color: #e6f7ff;
}

.boat-list li a {
  text-decoration: none;
  color: #007bff;
}

.about {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.about p {
  line-height: 1.5;
  color: #555;
  text-align: justify;
}

.thank-you-message {
  text-align: center;
  margin-top: 50px;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-link:hover {
  text-decoration: underline;
}
